<header>	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
		<div class="container">
			<%= link_to "AMAZON", landings_index_path, class: "navbar-brand" %>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item <%= cp(landings_index_path) %>">
		      	<%= link_to landings_index_path, class: "nav-link" do%>
		      	Index
		      	<span class="sr-only">(current)</span>
		      	<% end %>
		      </li>
		      <li class="nav-item <%= cp(landings_about_path) %>">
		      	<%= link_to "About", landings_about_path, class: "nav-link" %>
		      </li>
		      <li class="nav-item <%= cp(landings_contact_path) %>">
		        <%= link_to "Contact", landings_contact_path, class: "nav-link" %>
		      </li>
		    </ul>
		    	<!-- Button trigger modal -->
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#exampleModal">CALL NOW</button>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        ...
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
		  </div>
	  </div>
	</nav>


</header>