<h1 align="center" class="mb-5">Images</h1>
<div class="container">
	<div class="row mb-3" align="right">
		<div class="col"></div>
	  <div class="col"></div>
	  <div class="col">
	  	<%= link_to "NUEVA IMAGEN", new_image_path, class: "btn btn-warning font-weight-bold" %>
	  </div>
	</div>
	<table class="table">
		<thead class="bg-secondary">
			<tr class="text-white text-center">
				<th style="border: 1px solid #aaa">IMAGE</th>
				<th style="border: 1px solid #aaa">URL</th>
				<th style="border: 1px solid #aaa">ALT</th>
				<th style="border: 1px solid #aaa">ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			<% @image.each do |image| %>
				<tr class="text-center">
					<td style="border: 1px solid #aaa"><%= image.name %></td>
					<td style="border: 1px solid #aaa"><%= image.url %></td>
					<td style="border: 1px solid #aaa"><%= image.alt %></td>
					<td style="text-align: center; border: 1px solid #aaa">
						<%= link_to "VER", image_path(image.id), class: "text-white btn btn-info font-weight-bold" %>
						<%= link_to "EDITAR", edit_image_path(image.id), class: "text-white font-weight-bold btn btn-success" %>
						<%= link_to "ELIMNAR", image_path(image.id), method: :delete, data: { confirm: "¿Estás seguro/a de eliminar la imagen?" }, class: "text-white font-weight-bold btn btn-danger" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
</table>
